In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/MSBD5001/sample_submission.csv
/kaggle/input/MSBD5001/train.csv
/kaggle/input/MSBD5001/test.csv

In [2]:
traindf = pd.read_csv('/kaggle/input/MSBD5001/train.csv')
testdf = pd.read_csv('/kaggle/input/MSBD5001/test.csv')

In [3]:
testdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        59 non-null     int64
 1   MO HLADR+ MFI (cells/ul)  59 non-null     float64
 2   Neu CD64+MFI (cells/ul)   59 non-null     float64
 3   CD3+T (cells/ul)          59 non-null     float64
 4   CD8+T (cells/ul)          59 non-null     float64
 5   CD4+T (cells/ul)          59 non-null     float64
 6   NK (cells/ul)             59 non-null     float64
 7   CD19+ (cells/ul)          59 non-null     float64
 8   CD45+ (cells/ul)          59 non-null     float64
 9   Age                       59 non-null     int64
 10  Sex 0M1F                  59 non-null     int64
 11  Mono CD64+MFI (cells/ul)  59 non-null     float64
dtypes: float64(9), int64(3)
memory usage: 5.7 KB

In [4]:
testdf.nunique()

id                          59
MO HLADR+ MFI (cells/ul)    57
Neu CD64+MFI (cells/ul)     53
CD3+T (cells/ul)            57
CD8+T (cells/ul)            57
CD4+T (cells/ul)            57
NK (cells/ul)               57
CD19+ (cells/ul)            57
CD45+ (cells/ul)            57
Age                         29
Sex 0M1F                     2
Mono CD64+MFI (cells/ul)    58
dtype: int64

In [5]:
traindf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        87 non-null     int64
 1   MO HLADR+ MFI (cells/ul)  86 non-null     float64
 2   Neu CD64+MFI (cells/ul)   86 non-null     float64
 3   CD3+T (cells/ul)          87 non-null     float64
 4   CD8+T (cells/ul)          87 non-null     float64
 5   CD4+T (cells/ul)          87 non-null     float64
 6   NK (cells/ul)             87 non-null     float64
 7   CD19+ (cells/ul)          87 non-null     float64
 8   CD45+ (cells/ul)          87 non-null     float64
 9   Age                       87 non-null     int64
 10  Sex 0M1F                  87 non-null     int64
 11  Mono CD64+MFI (cells/ul)  86 non-null     float64
 12  label                     87 non-null     int64
dtypes: float64(9), int64(4)
memory usage: 9.0 KB

In [6]:
traindf.nunique()

id                          87
MO HLADR+ MFI (cells/ul)    84
Neu CD64+MFI (cells/ul)     71
CD3+T (cells/ul)            85
CD8+T (cells/ul)            85
CD4+T (cells/ul)            85
NK (cells/ul)               85
CD19+ (cells/ul)            86
CD45+ (cells/ul)            85
Age                         34
Sex 0M1F                     2
Mono CD64+MFI (cells/ul)    83
label                        2
dtype: int64

In [7]:
traindfY = traindf.pop('label')

In [8]:
traindf.pop('id')

0      0
1      1
2      2
3      3
4      4
      ..
82    82
83    83
84    84
85    85
86    86
Name: id, Length: 87, dtype: int64

In [9]:
traindf

,MO HLADR+ MFI (cells/ul),Neu CD64+MFI (cells/ul),CD3+T (cells/ul),CD8+T (cells/ul),CD4+T (cells/ul),NK (cells/ul),CD19+ (cells/ul),CD45+ (cells/ul),Age,Sex 0M1F,Mono CD64+MFI (cells/ul)
0,3556.0,2489.0,265.19,77.53,176.55,0.00,4.20,307.91,52,0,7515.0
1,1906.0,134.0,1442.61,551.90,876.07,112.10,168.15,1735.48,20,1,1756.0
2,1586.0,71.0,1332.74,684.20,655.26,244.95,216.52,1820.04,28,1,1311.0
3,683.0,94.0,419.23,255.80,162.17,72.05,44.68,538.22,55,1,1443.0
4,1032.0,71.0,1102.72,480.27,625.30,188.78,130.77,1427.97,28,1,1542.0
...,...,...,...,...,...,...,...,...,...,...,...
82,626.0,68.0,1771.57,666.99,1117.48,360.21,118.84,2306.82,42,1,1521.0
83,1237.0,71.0,1348.53,428.09,924.69,120.02,48.67,1524.78,56,0,1345.0
84,634.0,1002.0,1300.00,558.00,724.00,67.00,105.00,1484.26,34,0,2926.0
85,112.0,884.0,942.83,378.49,567.06,116.77,31.81,1104.59,33,1,2352.0
86,195.0,213.0,724.00,364.00,361.00,18.00,155.00,897.00,19,1,2445.0

In [10]:
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=2, weights="uniform")
#imputer.fit_transform(traindf)

In [11]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.pipeline import make_pipeline
clf = make_pipeline(imputer, GradientBoostingClassifier(n_estimators=100, learning_rate=1.0,max_depth=2, random_state=0))
clf = clf.fit(traindf, traindfY)
clf.score(traindf, traindfY)

1.0

In [12]:
testX = testdf.drop('id',axis = 1)

In [13]:
predict = clf.predict(testX)

In [14]:
result = pd.DataFrame()
result['id'] = np.array(list(range(len(predict))))
result['label'] = predict

In [15]:
predict

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1])

In [16]:
result.to_csv('result.csv',index=False)